
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-2">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-7">
        <div class="row">
            
            <div class="col-12">
                <app-word-info></app-word-info>
            </div>
            <div class="col-12">
                <app-canvas></app-canvas>
            </div>
            <div class="col-12">
                <app-tools></app-tools>
            </div>
            
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <div class="row">
                <div class="col-12">
                    <app-timer></app-timer>
                </div>
                <div class="col-12">
                    <app-chat></app-chat>
                </div>
            </div>
    </div>

</div>
