<div class="row notSelectDefault">
    <div class="col-12">
          <a class="btn btn-dark float-end dd-mgt-0-5 dd-mgr-0-5" [routerLink] = "['/home']" role="button">
            <i class="bi bi-arrow-return-left"></i>
          </a>
    </div>
</div>
  
<div class="container" class="dd-pdt-200px notSelectDefault">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div class="d-flex justify-content-center">
                <a [routerLink] = "['/home']" class="text-decoration-none dd-mgb-2"><h1 class="dibudaw">dibudaw.io&nbsp;<i class="bi bi-pencil" style="font-size: 20px;"></i></h1></a>
            </div>
            
            <div class="form-body rounded">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <div class="innter-form">
                    <form class="sa-innate-form" method="post">
                        <label for="email" class="dd-mgr-2">Cambiar E-mail</label>
                        <input type="email" #email placeholder="{{user.email}}" (key.enter)="changeEmail(email.value)" name="email">
                        <input type="submit" (click)="changeEmail(email.value)" value="Cambiar">
                    </form>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
