<div class="row notSelectDefault">

    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-center">
        <a [routerLink]="['/home']" class="text-decoration-none"><h1 class="dibudaw dd-mgt-4">dibudaw&nbsp;<i class="bi bi-pencil white" style="font-size: 20px;"></i></h1></a>
    </div>
    <div class="col-2"></div>

</div>


<div class="container-terms">
    <div class="row">
        <div class="col-sm-6"><!-- MITAD IZQUIERDA -->
            <div class="row">

                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Términos y condiciones</h5>
                            <p class="card-text">Al registrarse en Dibudaw está concediendo permisos para que guardemos en nuestra base de datos la información introducida con el único fin de poder identificarle cuando intente iniciar sesión.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Política de cookies</h5>
                            <p class="card-text">No, no queremos tus datos. Durante la estancia en nuestro sitio web sólamente se guardarán en su navegador las cookies necesarias para poder identificarle una vez haya iniciado sesión.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Audios</h5>
                            <p class="card-text">Los efectos de sonido y la música reproducidos durante su estancia en la página han sido obtenidos de <a href="https://www.zapsplat.com/sound-effect-category/bells/">zapsplat.com</a></p>
                            <p><a href="https://www.zapsplat.com/music/game-music-childrens-game-calm-soft-and-caring-arpeggios-sweet-and-cute-nighttime/">Audio de fondo de juego</a></p>
                            <p><a href="https://www.zapsplat.com/music/small-hand-bell-ring-ping-single-chime-soft-2/">Audio nueva notificación</a></p>
                            <p><a href="https://www.zapsplat.com/music/bright-magic-wand-ping-1/">Sonido de acierto de palabra</a></p>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="col-sm-6"><!-- MITAD DERECHA -->
            <div class="row">


                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Imágenes</h5>
                            <p class="card-text">En nuestra página se pueden encontrar las siguientes imágenes e iconos de terceros (algunas han sido editadas para adaptarse a las necesidades del diseño)</p>
                            Iconos de <a href="https://icons.getbootstrap.com/" title="Bootstrap Icons">Bootstrap Icons</a>:
                            <p style="margin-bottom: 0;"><a href="https://icons.getbootstrap.com/icons/music-note-beamed/">Corchea de musica</a></p>
                            <p style="margin-bottom: 0;"><a href="https://icons.getbootstrap.com/icons/volume-mute-fill/">Boton de silenciar</a></p>
                            <br />
                            Iconos de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>:
                            <div>
                                <p style="margin-bottom: 0;"><a style="width: 35px" href="https://www.flaticon.es/icono-gratis/diccionario_1902726?term=diccionario&page=1&position=1&page=1&position=1&related_id=1902726&origin=search">Diccionario</a> diseñado por <a href="https://www.flaticon.es/autores/smalllikeart" title="smalllikeart">smalllikeart</a></p>
                            </div>
                            <br />
                            <div>
                                <p style="margin-bottom: 0;"><a style="width: 35px" href="https://www.flaticon.es/icono-gratis/galeria_856256?term=galer%C3%ADa&page=1&position=46&page=1&position=46&related_id=856256&origin=tag">Galeria</a> diseñado por <a href="https://www.flaticon.es/autores/pause08" title="Pause08">Pause08</a></p>
                            </div>
                            <br />
                            <div>
                                <p style="margin-bottom: 0;"><a style="width: 35px" href="https://www.flaticon.com/free-icon/gold-medal_744984?term=first%20place&page=1&position=4&page=1&position=4&related_id=744984&origin=search">Medalla de primer puesto</a> diseñado por <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a></p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Licencia</h5>
                            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Esta aplicación está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>


</div>
