
<div style="margin-top: 5%; margin-right:5%">
  <div  class="jumbotron list-content">
  <ul class="list-group">
    
    <!-- (SCROLL DE LA LISTA DE AMIGOS)-->
    <div class="position">

      <li class="list-group-item">
        <div #stopwatch class="row">

          <div class="container-timer">
            <div class="countd-own countdown--wide" id="countdown">
              <div class="countdown__fill" id="ticker"></div>
              <div class="countdown__digit" id="seconds">00</div>
            </div>
          </div>
        </div>

      </li>

    </div>
    

  </ul>
</div>
</div>
