
    <!-- BOTON DEL COLORPICKER -->
    <div class="input-group">
        <input type="hidden" #hexaColor id="hexVal" />
        <div #colorPickerBtn (click)="toggleColorPicker()" class="{{showingColorPicker?'preview2':'preview'}} dd-mgb-1 dd-mgr-22px"></div>
    
        <!-- BOTONES DE COLORES UNITARIOS -->
        <div class="btn-group">
            <button id="colorBlack" (click) = "setColorBrush('black')"></button> 
            <button id="colorGrey" (click) = "setColorBrush('grey')"></button>  
            <button id="colorDarkRed" (click) = "setColorBrush('rgb(136, 0, 21)')"></button>  
            <button id="colorRed" (click) = "setColorBrush('red')"></button>  
            <button id="colorOrange" (click) = "setColorBrush('orange')"></button>  
            <button id="colorYellow" (click) = "setColorBrush('yellow')"></button>  
            <button id="colorGreen" (click) = "setColorBrush('green')"></button>  
            <button id="colorBlue" (click) = "setColorBrush('blue')"></button>  
            <button id="colorDarkBlue" (click) = "setColorBrush('rgb(63, 72, 204)')"></button>  
            <button id="colorViolet" (click) = "setColorBrush('violet')"></button> 
        </div>
    
        <button (click)="Clear()" id="clearAll"><i class="bi bi-trash-fill"></i></button>
        
          <button id="eraser" class="eraser" (click) = "setColorBrush('white')"><i class="bi bi-eraser-fill"></i></button> 
          <input #hsize type="range" min="1" max="60" value="3" (change)="setSize(hsize.value)" class="dd-mgr-2">
          
        </div>  
    
    <!-- DESPLEGABLE DEL COLORPICKER -->
    <div style="position:relative;">
      <div #divColorPicker class="colorpicker {{showingColorPicker?'':'dd-display-none'}}">
        <canvas #colorPicker class="color" id="picker" width="300" height="300" (click)="setColorBrush(hexaColor.value); toggleColorPicker()"></canvas>
      </div>
    </div>
    
